header {
    display: flex;
    justify-content:space-between ;
    background-color: #95a5a6;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
    align-items: center;

}

span {
   font-family: 'Press Start 2P', sans-serif; 
   color: #e74c3c;
   text-shadow: 5px 4px 0px #000;
   font-size: 40px;
   
}



nav {
   text-align: right;
}

a::before {
   content: " ";
   background-color: #f1c40f;
   width: 10px;
   height: 10px;
   margin-right: 10px;
}

 a {
    color: #FFF;
    align-items: center;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    display: inline-flex;
 }

 #button {
    
    background: #e74c3c;
    box-shadow: 5px 5px 0px #000;
    padding: 18px 20px;
    margin-right: 0;
    transition: transform 100ms linear;
        
 }

 #button:hover{
   transform: scale(1.08);
 }

