.section {
    background-color: #FF2E00 ;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom:10px solid #474747 ;
}

.skill-tec .icon {
    margin-right: 25px;
}

.skill-tex .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}